/*******************/
/**  BASIC SETUP  **/
/*******************/

*{
  margin: 0;
  padding: 0;
}

/***********/
/* HEADERS */
/***********/

h1 {
  text-align: center;
  color: rgb(22, 22, 22);
  border: rgb(22, 22, 22) solid 1px;
  background-color: rgba(133, 192, 197, 0.541);
  padding: 25px;
  margin: 45px;
}

h2 {
  text-align: center;
  color: rgb(31, 31, 31);
  margin-top: 35px;
}

/***********/
/* BUTTONS */
/***********/

#btn-imgUpload {
  margin-bottom: 45px;
  margin-left: 180px;
  background-color: rgb(223, 223, 223);
  border: rgb(223, 223, 223) solid 1px;
  color: grey;
  text-decoration: none; 
}

/* .btn-imgUpload:link,
.btn-imgUpload:visited {
  
} */

#btn-imgUpload:hover,
#btn-imgUpload:active {
  background-color: rgb(184, 184, 184);
  border: rgb(184, 184, 184) solid 1px;
  color: grey;
}

#btn-save {
  background-color: rgb(231, 231, 231);
  border: rgb(41, 41, 41) solid 1px;
  color: rgb(41, 41, 41);
  margin: 75px;
  padding: 4px 70px;
}

#btn-add {
  border-radius: 50%;
  border: black solid 2px;
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  color: black;
  float: right;
  margin: 10px;
}


/**********************/
/** NEW PRODUCT PAGE **/
/**********************/

.book-form {
  border: black solid 1px;
  margin: 40px;
  padding: 50px 20px;
}