/*******************/
/**  BASIC SETUP  **/
/*******************/

*{
  margin: 0;
  padding: 0;
}

/***********/
/* HEADERS */
/***********/

h1 {
  text-align: center;
  color: rgb(22, 22, 22);
  border: rgb(22, 22, 22) solid 1px;
  background-color: rgba(133, 192, 197, 0.541);
  padding: 25px;
  margin: 45px;
}

h2 {
  text-align: center;
  color: rgb(31, 31, 31);
  margin-top: 35px;
}

/***********/
/* BUTTONS */
/***********/

.btn-imgUpload {
  background-color: rgb(172, 172, 172);
  border: rgb(172, 172, 172) solid 1px;
}

.btn-save {
  background-color: cornsilk;
}


/**********************/
/** NEW PRODUCT PAGE **/
/**********************/

